<?xml version='1.0' encoding='utf-8'?>
<widget id="com.maxsoft.podcasts" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pod Wave</name>
    <description>Pod Wave</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        MaxSoft
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

   <platform name="android">
       <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/logo4.png" />
   </platform>
</widget>
